body {
    background-color: grey;
}

.baslık {
    text-align: center;
    font-size: 60px;
}

.menu {
    text-align: center;
}

.haberler {
    text-align: center;
    top: 80px;
   
}
.giris {
    text-align: center;
}
footer {
    text-align: center;
}